<p>
  <b>Title:</b>
  <%=h @lesson.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @lesson.description %>
</p>

<p>
  <b>Content:</b>
  <%= RedCloth.new(@lesson.content).to_html %>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>